@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;


	color: #fff;
	font-family: Arial;
	font-size: 12px;
	background:#283546;
}
/*.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(http://gkcat.com/images/background/loginpage.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
/*	z-index: 1;
	opacity: 0.7;
}*/

.header{
	text-align: center;
	z-index: 2;
}

.header div{
	text-align: center;
	

	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}









#admin{
	
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;

	
	height: auto;
	width: 400px;
	padding: 10px;
	margin:10%;
	z-index: 2;
}

#admin input[type=text]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

#admin input[type=number]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}

#admin input[type=date]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}
#admin input[type=time]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}


#admin select{
	width: 260px;
	height: 40px;
	background:rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}



#admin input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}



#admin input[type=submit]:hover{
	opacity: 0.8;
}

#admin input[type=submit]:active{
	opacity: 0.6;
}


#admin input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

#admin p{
	font-size:35px;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.go_back{
	
	position: absolute;
	top: calc(20% - 50px);
	left: calc(10% - 50px);



}
.go_back input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin: 5px;
	text-align:center;
}

.go_back input[type=submit]:hover{
	opacity: 0.8;
}

.go_back input[type=submit]:active{
	opacity: 0.6;
}


#report{
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
margin:10%;

	height: auto;
	width: 400px;
	padding: 10px;
	z-index: 2;
}

#report input[type=text]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

#report select{
	width: 300px;
	height: auto;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

#report input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}



#report input[type=submit]:hover{
	opacity: 0.8;
}

#report input[type=submit]:active{
	opacity: 0.6;
}

.user{
background: rgba(150,150,150,0.8) ;
		/*opacity: 0.4;*/
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
		margin: 10px;
		width:auto;


}
.user p
{
/*	width: 400px;
	height: 30px;*/
/*	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;*/
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin:10%;

}
#report input[type=submit]{
	width: 250px;
	height: auto;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin: 10px;
	text-align:center;
}



#report input[type=submit]:hover{
	opacity: 0.8;
}

#report input[type=submit]:active{
	opacity: 0.6;
}
.button{
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	height: auto;
	width: auto;
	padding: 10px;
	z-index: 2;
}

.button input[type=button]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}



.button input[type=button]:hover{
	opacity: 0.8;
}

.button input[type=button]:active{
	opacity: 0.6;
}


#post{
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;

	height: auto;
	width:400px;
	padding: 10px;
	margin:10%;
	z-index: 2;
}

#post input[type=text]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

#post  select{
	width: 300px;
	height: auto;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

#post  input[type=submit]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}



#post  input[type=submit]:hover{
	opacity: 0.8;
}

#post  input[type=submit]:active{
	opacity: 0.6;
}


#post  input[type=button]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}



#post  input[type=button]:hover{
	opacity: 0.8;
}

#post  input[type=button]:active{
	opacity: 0.6;
}

.menu
    {
     
      z-index: 2;
      padding-top: 1%;
      padding-left: 62%;
    }
    .menu input[type=submit]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }

  .menu input[type=button]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }

#admin input[type=button]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}



#admin input[type=button]:hover{
	opacity: 0.8;
}

#admin input[type=button]:active{
	opacity: 0.6;
}