@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(http://gkcat.com/images/background/loginpage.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(10% - 35px);
	left: calc(45% - 35px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}
.message{
	
	position: absolute;
	top: calc(25% - 75px);
	left: calc(30% - 50px);
	height: auto;
	width: 800px;
	padding: 10px;
	z-index: 2;
}
.user{
background: rgba(150,150,150,0.3) ;
		/*opacity: 0.4;*/
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
		margin: 10px;


}
.user p{
/*	width: 400px;
	height: 30px;*/
/*	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;*/
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 5px;
}

 .detail{
/*	width: 400px;
	height: 30px;*/
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
}
.message input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin: 5px;
	text-align:center;
}

.message input[type=submit]:hover{
	opacity: 0.8;
}

.message input[type=submit]:active{
	opacity: 0.6;
}


.buttom{
		position: relative;
	
	left: calc(60% - 50px);



}
.go_back{
	
	position: absolute;
	top: calc(20% - 50px);
	left: calc(10% - 50px);



}
.go_back input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin: 5px;
	text-align:center;
}

.go_back input[type=submit]:hover{
	opacity: 0.8;
}

.go_back input[type=submit]:active{
	opacity: 0.6;
}
