@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	background: #b0c4de;

}
h1{
	font-size:20px;
}
p{
	font-size: 15px;
}
 input[type=submit]{
	width: 100px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin: 10px;
}

input[type=submit]:hover{
	opacity: 0.8;
}

input[type=submit]:active{
	opacity: 0.6;
}


.header{
	text-align: center;
	z-index: 2;
}

.header div{
	
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.user1{
	background:rgba(150,150,150,0.3);
	height: auto;
	width: 350px;
	padding: 10px;
	z-index: 2;
		border: 1px solid #fff;

	border-radius: 2px;
	


}
.user1 h1{
	text-align:center;
}
.user1 p{
	
		background:rgba(150,150,150,0.6);

	height: auto;
	/*width: auto;*/
	padding: 10px;
	z-index: 2;
		border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;

}

.user1 img{
		background:rgba(150,150,150,0.3);
	height: 150px;
	width: 150px;
	padding: 10px;
	z-index: 2;
		border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	margin:10px;
}

.goback{
	
	height: 150px;
	width: 350px;
	padding: 10px;
	margin-left:20%:;
	z-index: 2;
}

.goback input[type=submit]{
	width: 100px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.goback input[type=submit]:hover{
	opacity: 0.8;
}

.goback input[type=submit]:active{
	opacity: 0.6;
}


.deatil
{
	width:80%;
	
		margin-left:calc(50% - 175px);

}