@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background:#283546;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}


.header{
text-align: center;
	z-index: 2;
	margin-top:20px;
	
}

.header div{

	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.job{
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	margin-right: auto;
	margin-left:auto;
	height: auto;
	width:300px;
	padding: 10px;
	z-index: 2;
}

.job input[type=text]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

.job input[type=number]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}

.job input[type=date]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}
.job input[type=time]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}


.job select{
	width: 260px;
	height: 40px;
	background:rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}



.job input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: auto;
	text-align:center;
}



.job input[type=submit]:hover{
	opacity: 0.8;
}

.job input[type=submit]:active{
	opacity: 0.6;
}


.job input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.job p{
	font-size:35px;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.go_back{
	
	position: absolute;
	top: calc(00% - 50px);
	left: calc(00% - 50px);



}


.go_back input[type=button]{

	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin: 5px;
	text-align:center;
}

.go_back input[type=button]:hover{
	opacity: 0.8;
}

.go_back input[type=button]:active{
	opacity: 0.6;
}

 .menu
    {
     
      z-index: 2;
      padding-top: 1%;
      padding-left: 63%;
    }
    .menu input[type=submit]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }

  .menu input[type=button]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }