@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
	
	background:#283546;
}

//**.body{
/*	//position: absolute;
	//top: -20px;
	//left: -20px;
	//right: -40px;
	//bottom: -40px;*/
	width: auto;
	height: auto;
	/*//background-image: url(http://gkcat.com/images/background/loginpage.jpg);
	//background-attachment: fixed;*/
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	-webkit-filter: blur(5px);
	z-index: 0;
	overflow-y: hidden; 
}

.grad{
/*	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;*/
	//width: auto;
	//height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));  Chrome,Safari4+ 
	z-index: 1;
	opacity: 0.7;
} */
*/
.header{
/*	position: absolute;
	top: 11%;*/
        left: 60%;
	z-index: 2;
}

.header div{
	margin-top: 5%;
	text-align:center;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}





.job_list{

	
	
/*	top: 30%;
	left: 10%;*/
	height: auto;
	width: auto;
	padding: 5px;
	z-index: 2;
	margin:10px;
}




.profile{
	
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
/*	position: absolute;
*/	height: auto;
	width:300px;
	padding: 10px;
	margin: 10px;

}


.posted_job{
	width: 300px;
	height: auto;
	background:rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
margin: 10px;

}
.finished_job{
	width: 300px;
	height: auto;
	background:rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	margin: 10px;
	

}
.current_job{
		width: 300px;
	height: auto;
	background:rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
margin: 10px;
	

}

.profile input[type=text]{
	width: 250px;
	height: auto;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}
.profile input[type=button]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

.profile input[type=number]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}

.profile input[type=date]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}
.profile input[type=time]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}

.job_list select{
	width: 220px;
	height: auto;
	background:rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin: 10px;
	

}







.profile input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.profile p{
	font-size:35px;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.go_back{
	
	position: absolute;
	top: calc(20% - 50px);
	left: calc(10% - 50px);



}
.go_back input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin: 5px;
	text-align:center;
}

.go_back input[type=submit]:hover{
	opacity: 0.8;
}

.go_back input[type=submit]:active{
	opacity: 0.6;
}








.user{
background: rgba(150,150,150,0.8) ;
		/*opacity: 0.4;*/
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
		margin: 10px;


}
.user p{
/*	width: 400px;
	height: 30px;*/
/*	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;*/
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 5px;
}

.button{
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	
	height: auto;
	width: auto;
	padding: 10px;
	z-index: 2;
}

.button input[type=button]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}



.button input[type=button]:hover{
	opacity: 0.8;
}

.button input[type=button]:active{
	opacity: 0.6;
}

 .menu
    {
     
      z-index: 2;
      padding-top: 1%;
      padding-left: 62%;
    }
    .menu input[type=submit]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }

  .menu input[type=button]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }

.job_list  input[type=submit]:active{
	opacity: 0.6;
}
.job_list input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}
.job_list input[type=button]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: 5px;
	text-align:center;
}


.job_list input[type=submit]:hover{
	opacity: 0.8;
}
.job_list input[type=submit]:active{
	opacity: 0.6;
}
.posted_job select{height:245px;}
.current_job select{height:245px;}
.finished_job select{height:245px;}


/*  ======================================
04. NAVIGATION
====================================== */


.navbar {
	background:transparent;
   margin-right: 0px; 
   z-index:2;
   font-family:"Arial Black", Gadget, sans-serif

}



/* Main Navigation Container*/


/* Navigation link text color */
.navbar .nav > li > a {
	width:100px;
	border: 2px solid rgba(0,0,0,0.8);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
	font-weight:400;

    color: #000;
}


