@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
	
	background:#283546;
}

/*.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	//background-image: url(http://gkcat.com/images/background/loginpage.jpg);
	background-color: #b0c4de;
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}*/

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(10% - 35px);
	left: calc(40% - 35px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 100px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.job{
	position: absolute;
	top: calc(35% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

 .menu
    {
      position: absolute;
      right: 30px; 
      z-index: 2;
      padding-left: 60%;
    }
    .menu input[type=button]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }


.job input[type=text]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;


}

.job input[type=number]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}

.job input[type=date]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}
.job input[type=time]{
	width: 250px;
	height: 30px;
	background: rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}


.job select{
	width: 260px;
	height: 40px;
	background:rgba(150,150,150,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;

}



.job input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
	margin-right: auto;
	text-align:center;
}



.job input[type=submit]:hover{
	opacity: 0.8;
}

.job input[type=submit]:active{
	opacity: 0.6;
}


.job input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.job p{
	font-size:35px;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.go_back{
	
	position: absolute;
	top: calc(00% - 50px);
	left: calc(00% - 50px);



}


.go_back input[type=button]{

	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin: 5px;
	text-align:center;
	z-index: 3;
}

.go_back input[type=button]:hover{
	opacity: 0.8;
}

.go_back input[type=button]:active{
	opacity: 0.6;
}
