@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

  

    body
    {
    	margin: 0;
    	padding: 0;
    	background: #fff;
    	color: #fff;
    	font-family: Arial;
    	font-size: 12px;
         background-color: #283546;
    }

      .header
    {
           margin-top:20px;
            z-index: 2;
    }

    .header div
    {
           text-align:center;
            color: #fff;
            font-family: 'Exo', sans-serif;
            font-size: 35px;
            font-weight: 200;
    }

    .header div span
    {
            color: #5379fa !important;
    }

    .menu
    {
      
      z-index: 3;
      padding-left: 63%;
      padding-top: 1%;
    }
    .menu input[type=submit]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }

  .menu input[type=button]
    {
      width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }


    .menu input[type=submit]:hover
    {
    	opacity: 0.8;
    }

    .menu input[type=submit]:active
    {
    	opacity: 0.6;
    }
    .menu select
    {
    	width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin-top: 10px;
    	text-align:center;
    }

    .search
    {
     width:80%;
      z-index: 2;
      padding-left: 35%
    }

    .search input[type=text]
    {
        width: 400px;
    	height: 34px;
    	background: rgba(150,150,150,0.3);
    	border: 1px solid rgba(255,255,255,0.6);
    	border-radius: 2px;
    	color: #fff;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
        width: 64%;
        margin:10px;
    	
    }

   

    .search input[type=submit]{
    	width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
        margin:10px;
    }

    .search input[type=submit]:hover
    {
    	opacity: 0.8;
    }

    .search input[type=submit]:active
    {
    	opacity: 0.6;
    }
    .search select
    {
    	width: 125px;
    	height: 35px;
    	background: #fff;
    	border: 1px solid #fff;
    	cursor: pointer;
    	border-radius: 2px;
    	color: #a18d6c;
    	font-family: 'Exo', sans-serif;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 6px;
    	margin: 10px;
    
    }

    table, th, td 
    {
	 border: 2px solid rgba(255,255,255,0.6);
    	 border-collapse: collapse;
         border-radius: 2px;
         text-align: center;
    }
    table, th, td, td
    {
	 border: 2px solid rgba(255,255,255,0.6);
    	 border-collapse: collapse;
         border-radius: 2px;
          background: rgba(150,150,150,0.3);
          
    } 

    th, td 
    {
    	padding: 5px;
    }

    .results
    {
	    visibility: hidden;
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

  ::-webkit-input-placeholder
  {
     color: rgba(255,255,255,0.6);
  }

  ::-moz-input-placeholder
  {
     color: rgba(255,255,255,0.6);
  }
  
  	.hov
  {
	 background-color: #FFFFFF; color: #000000;
  }
  
	.page
  {
	 margin: 5px;
  }
======================================
06. Responsive Styles (Media Queries)
======================================
////////////////////////////////////////////////////////////////////*/

    /* Large desktop */
    @media (min-width: 1200px) { 
    
    
     }
     
     
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
        
        }
        
        
        
 /* Landscape phone to portrait tablet */
    @media (min-width: 767px) { 

     /*   #little
        {
              visibility: hidden;
        }*/
    .body{
    background-image: none;
}   
        .nav.navbar-nav {
    margin: 0 auto;
    width: 500px;
    float:none
      }
    }
        
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
         #little
        
         {
          background-color: transparency;
                 visibility: hidden;
        }
        table
        
        {
          background: none;   
                margin-left: 35%;
        }
        
.body{
    background-image: none;
}
     .featurette-heading {
    margin-top: 0px;
      }


    .featurette-divider{
    margin: 20px 0
    }


     
    }
