@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background:#283546;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: fixed;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(http://gkcat.com/images/background/loginpage4.jpg);
	background-size: cover;
	-webkit-filter: blur(0px);
	z-index: -1;
}

.index{
	margin-top: 10%;
}
.grad{

	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	text-align: center;
		z-index: 2;

}

.header div{
text-align: center;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 100px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
text-align: center;
	height: 150px;
	width: 350px;
	padding: 10px;
margin-right: auto;
margin-left: auto;
	z-index: 2;
}

.signup{
	text-align: center;
margin-left:auto;
margin-right:auto;
	height: 150px;
	width: 350px;
	padding: 15px;
	z-index: 2;
}
.signup ol{
	text-align: left;

}

.signup input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 5px;
}

.signup input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 5px;
}

.signup input[type=email]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 5px;
}



.signup input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-align:center;
}

.signup input[type=button]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-align:center;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;

}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=email]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-align:center;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}
.login input[type=button]{
	width: 125px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-align:center;
}

.login input[type=buttonLong] {
	width: 245px;
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-align:center;
}

.login input[type=buttonLong]:hover{
opacity:0.8;
}
.login input[tyoe=buttonLong]:active{
opacity:0.6;
}
.login input[type=buttonLong]:focus{
outline:none;
border:1px solid rgba(255,255,255,0.9);
}



.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.passwordreq{
	color:#E0E0FF;
	font-size: 10px;
	font-family:'Exo', sans-serif
}

profile {
	margin: auto;
	padding: auto;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.profile {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: auto;
	background-image: url(http://gkcat.com/images/background/loginpage.jpg);
	background-size: cover;
	-webkit-filter: blur(0px);
	z-index: 0;	
}

banner {
	margin: 0 auto;
	padding: 0 auto;
	position: relative	;
	text-align:center;
	position: absolute;
	top: 0%;
	left: 0%;
	right: 100%;
	bottom: 100%;
	width: 100%;
	height: auto;
	background-image: url(http://gkcat.com/images/background/loginpage.jpg);
	background-size: cover;
	z-index: 0;		
}

.bannerTitle {
	font-family: Arial;
	font-size: 32px;
	text-align:center;
	width: 100%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

button {
	width: 19%;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-align:center;
}



.card {
    background-color: #eee;
	color:#000;
    opacity: .9;
	text-align:center;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    width: 90%;
    height: 80%;
    bottom: -5%;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
/*////////////////////////////////////////////////////////////////////
======================================
06. Responsive Styles (Media Queries)
======================================
////////////////////////////////////////////////////////////////////*/

    /* Large desktop */
    @media (min-width: 1200px) { 
	
	
	 }
     
	 
	 
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
		
		}
		
		
		
 /* Landscape phone to portrait tablet */
    @media (min-width: 767px) {	 
		.nav.navbar-nav {
    margin: 0 auto;
    width: 500px;
	float:none
      }
	}
		
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
		
.body{
//	background-image: none;
}
	 .featurette-heading {
    margin-top: 0px;
      }


	.featurette-divider{
	margin: 20px 0
	}


	 
	}
